footer {
  background-color: var(--primary-color);
}

.container-footer {
  display: flex;
  padding: 100px 30px 20px;
  align-items: flex-start;
  justify-content: center;
}

.logo-footer {
  font-size: 30px;
}

.newsletter-input {
  padding: 8px;
  width: 230px;
  outline: none;
  border: none;
  margin-left: 18px;
}

.btn-disabled {
  padding: 10px;
  color: var(--white);
  background-color: var(--purple);
  outline: none;
  border: none;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 650;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 124px;
  cursor: not-allowed;
}

.btn-subscribe {
  padding: 10px;
  color: var(--white);
  background-color: var(--purple);
  outline: none;
  border: none;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 650;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 124px;
  cursor: pointer;
}

.academic-footer {
  font-weight: var(--font-weight-600);
  font-size: 13px;
}

.gap-footer {
  margin-bottom: 10px;
}

.main-form {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  width: auto;
  border-radius: 10px;
  min-width: 400px;
}

.subscribe-footer {
  margin-top: 40px;
}

.subscribe-message {
  color: var(--white);
  font-weight: var(--font-weight-600);
  margin: 5px 0px;
}
