.blog-post {
  margin: 30px 0px;
}

.img-blog {
  width: 100%;
}

.blog-detail {
  box-shadow: var(--light-shadow);
}

.mainblog-detail {
  padding: 40px 20px;
}

.mainblog-detail h4 {
  margin: 10px 0px;
}

.dept {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dept-h4 {
  margin-left: 20px;
  font-size: 20px;
}

.read-more-btn {
  padding: 9px 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: var(--font-weight-600);
  margin-top: 10px !important;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.read-more {
  color: var(--white);
  font-family: inherit;
}

.read-more-btn:hover {
  background-color: rgb(38, 22, 128);
}
